.heading1 {
    color: #FF0000;
}

.paragraph1 {
    color: #949494;
}

.heading2 {
    color:#2400FF;
}

.paragraph2 {
    color: #FF2929;
}

.heading3 {
    color: #00461C;
}

.paragraph3 {
    color: #000000;
}
