.heading1 {
    color: red;
}

.paragraph1 {
    color: gray;
}

.heading2 {
    color: blue;
}

.paragraph2 {
    color: red;
}

.heading3 {
    color: green;
}

.paragraph3 {
    color: black;
}